@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./bagdes-n-labels.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

@import 'vue-select/dist/vue-select.css';

/* vue-select re-style */

.vs__dropdown-toggle {
  @apply border-gray-300;

  .vs--open & {
    @apply border-gray-400;
  }
}

.vs__dropdown-menu {
  @apply border-gray-400;
}

.vs__selected {
  @apply border-primary-200 bg-primary-100 text-primary-400 rounded-sm;

  > .vs__deselect {
    padding: 4px 4px 4px 2px;
    margin-right: -4px;
    @apply text-primary-300;
    
    > svg {
    }
  }
  
}



.vs__dropdown-option {

  @apply text-gray-700;

  &--highlight {
    @apply bg-primary-100 text-primary-500;
  }
}

.vs__open-indicator {

  .vs--open & {
    transform: scale(0.75) rotate(180deg);
  }
}

.vs__actions {
  @apply text-gray-500;
}

svg {
  
  .vs__deselect & {
    transform: scale(0.8);
    width: 10px;
    height: 10px;
    fill: currentColor;
  }
  .vs__actions & {
    transform: scale(0.75);
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
}


/* heading styles */
@each $heading, $size in (h1, h2, h3, h4, h5, h6), (5xl, 4xl, 3xl, 2xl, xl, lg ) {
  $(heading),
  .$(heading) {
    @apply text-$(size) text-gray-700;
  }
}

h1.is-super {
  @apply text-6xl font-light;
}

h5 {
  @apply font-medium;
}

h6 {
  @apply font-semibold;
}

p.is-large {
  @apply text-lg;
}



/* body styles */
body {
  font-family: theme(fontFamily.sans);
  color: theme(colors.gray.800);
  font-size: theme(fontSize.base);
}



/* button styles */
/* button, a.btn {
  @apply text-gray-700;
} */


a {
  @apply text-primary-500;

  &:hover {
    @apply text-primary-600 underline;
  }
}

.close,
.delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  /* background-color: rgba(0,0,0, .5); */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
  opacity: .6;

  &:before,
  &:after {
    background-color: theme(colors.gray.600);
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }
  
  &:before {
    height: 2px;
    width: 50%;
  }
  
  &:after {
    height: 50%;
    width: 2px;
  }

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

/* input size styles */
@each $size, $alias in (small, medium, large, huge), (sm, base, lg, xl) {
  @if $size == small {
    input.is-$(size) {
      @apply px-2;
      padding-top: .1rem;
      padding-bottom: .1rem;
      font-size: theme(fontSize.$(alias));
    }
  } @else {
    input.is-$(size) {
      @apply px-2 py-1;
      font-size: theme(fontSize.$(alias));
    }
  }
}

/* svg */
svg {
  fill: currentColor;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: inherit;
  vertical-align: middle;
}